In [57]:
import pandas as pd

In [58]:
df = pd.read_csv("dataset_vols_100.csv")

In [59]:
type(df)

pandas.core.frame.DataFrame

In [60]:
df.head()

,date_vol,compagnie,num_vol,origine,destination,heure_depart,heure_arrivee,prix_euros,distance_km,statut,retard_depart_min,retard_arrivee_min
0,2023-01-05,VolExpress,VO504,ORY,GVA,20:30,04:30,1137.76,1533,Annulé,90,120
1,2023-01-27,AéroParis,AÉ868,LIL,BOD,15:00,19:00,913.62,2980,À l'heure,10,40
2,2023-01-15,Ciel Bleu,CI953,ORY,NCE,16:15,00:15,463.70,3945,Retardé,30,30
3,2023-01-05,Avion du Monde,AV380,LYS,GVA,08:00,10:00,993.23,7704,Annulé,0,0
4,2023-01-11,AéroParis,AÉ500,ORY,BES,22:30,04:30,639.40,4400,Retardé,30,30

In [61]:
df.tail()

,date_vol,compagnie,num_vol,origine,destination,heure_depart,heure_arrivee,prix_euros,distance_km,statut,retard_depart_min,retard_arrivee_min
38,2023-01-25,Avion du Monde,AV188,LYS,GVA,08:45,11:45,374.98,1925,À l'heure,5,25
39,2023-01-18,VolExpress,VO714,BES,BOD,10:30,14:30,1114.81,6748,Annulé,120,120
40,2023-01-06,Avion du Monde,AV540,NCE,MRS,14:30,17:30,1076.74,4524,Retardé,120,130
41,2023-01-07,Air France,AI856,MRS,LIL,02:45,04:45,729.10,7738,À l'heure,5,15
42,2023-01-14,VolExpress,VO891,ORY,GVA,06:15,08:15,733.46,399,Retardé,90,110

In [62]:
df.shape

(43, 12)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_vol            43 non-null     object
 1   compagnie           43 non-null     object
 2   num_vol             43 non-null     object
 3   origine             43 non-null     object
 4   destination         43 non-null     object
 5   heure_depart        43 non-null     object
 6   heure_arrivee       43 non-null     object
 7   prix_euros          43 non-null     float64
 8   distance_km         43 non-null     int64
 9   statut              43 non-null     object
 10  retard_depart_min   43 non-null     int64
 11  retard_arrivee_min  43 non-null     int64
dtypes: float64(1), int64(3), object(8)
memory usage: 4.2+ KB

In [64]:
df['date_vol'] = pd.to_datetime(df['date_vol'], format='%Y-%m-%d')

categorie_cols = ["compagnie", "origine", "destination"]  
for col in categorie_cols:
    df[col] = df[col].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_vol            43 non-null     datetime64[ns]
 1   compagnie           43 non-null     category
 2   num_vol             43 non-null     object
 3   origine             43 non-null     category
 4   destination         43 non-null     category
 5   heure_depart        43 non-null     object
 6   heure_arrivee       43 non-null     object
 7   prix_euros          43 non-null     float64
 8   distance_km         43 non-null     int64
 9   statut              43 non-null     object
 10  retard_depart_min   43 non-null     int64
 11  retard_arrivee_min  43 non-null     int64
dtypes: category(3), datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 4.3+ KB

In [65]:
df.describe()

,date_vol,prix_euros,distance_km,retard_depart_min,retard_arrivee_min
count,43,43.000000,43.000000,43.000000,43.000000
mean,2023-01-15 21:12:33.488371968,693.678605,4378.627907,34.883721,47.558140
min,2023-01-01 00:00:00,197.650000,287.000000,0.000000,0.000000
25%,2023-01-08 12:00:00,430.430000,2098.000000,5.000000,15.000000
50%,2023-01-15 00:00:00,664.530000,3945.000000,30.000000,35.000000
75%,2023-01-25 00:00:00,964.030000,7478.000000,60.000000,62.500000
max,2023-01-31 00:00:00,1198.080000,8945.000000,120.000000,130.000000
std,NaN,320.994396,2741.946424,35.025303,37.310985

In [66]:
df[ ['compagnie', 'origine'] ].head(5)

        compagnie origine
0      VolExpress     ORY
1       AéroParis     LIL
2       Ciel Bleu     ORY
3  Avion du Monde     LYS
4       AéroParis     ORY

In [67]:
df[df.columns[0:4]].head(3)

    date_vol   compagnie num_vol origine
0 2023-01-05  VolExpress   VO504     ORY
1 2023-01-27   AéroParis   AÉ868     LIL
2 2023-01-15   Ciel Bleu   CI953     ORY

In [69]:
df.loc[ df["compagnie"] == "Air France", : ]

,date_vol,compagnie,num_vol,origine,destination,heure_depart,heure_arrivee,prix_euros,distance_km,statut,retard_depart_min,retard_arrivee_min
15,2023-01-10,Air France,AI836,BES,ORY,12:00,13:00,974.16,4522,Annulé,0,10
17,2023-01-30,Air France,AI364,TLS,BRU,08:30,09:30,631.39,4011,Retardé,60,60
19,2023-01-26,Air France,AI717,BOD,LYS,04:00,08:00,443.38,2241,À l'heure,45,55
28,2023-01-25,Air France,AI134,BES,ORY,03:00,08:00,479.18,8171,À l'heure,60,80
32,2023-01-11,Air France,AI958,GVA,TLS,04:30,11:30,865.27,3903,Retardé,60,90
33,2023-01-01,Air France,AI104,ORY,LYS,17:45,23:45,197.65,8945,À l'heure,5,35
41,2023-01-07,Air France,AI856,MRS,LIL,02:45,04:45,729.10,7738,À l'heure,5,15

In [70]:
df["retard_depart_min"].mean() + df["retard_arrivee_min"].mean()

np.float64(82.44186046511628)

In [29]:
df[['retard_depart_min','retard_arrivee_min']].agg(['min', 'mean','max'])

      retard_depart_min  retard_arrivee_min
min            0.000000             0.00000
mean          34.883721            47.55814
max          120.000000           130.00000

In [34]:
df.loc[df['compagnie'] == 'Air France', ['retard_depart_min','retard_arrivee_min']].agg(['min', 'mean','max'])

      retard_depart_min  retard_arrivee_min
min            0.000000           10.000000
mean          33.571429           49.285714
max           60.000000           90.000000

In [35]:
df['compagnie'].unique()

['VolExpress', 'AéroParis', 'Ciel Bleu', 'Avion du Monde', 'Air France']
Categories (5, object): ['Air France', 'Avion du Monde', 'AéroParis', 'Ciel Bleu', 'VolExpress']

In [41]:
df['compagnie'].value_counts()

compagnie
Avion du Monde    11
AéroParis          9
Ciel Bleu          8
VolExpress         8
Air France         7
Name: count, dtype: int64

In [43]:
df['compagnie'].value_counts(normalize=True)

compagnie
Avion du Monde    0.255814
AéroParis         0.209302
Ciel Bleu         0.186047
VolExpress        0.186047
Air France        0.162791
Name: proportion, dtype: float64

In [44]:
df['retard_reve'] = df["retard_arrivee_min"].clip(0, 4)
df[["retard_reve", "retard_arrivee_min"]]

    retard_reve  retard_arrivee_min
0             4                 120
1             4                  40
2             4                  30
3             0                   0
4             4                  30
5             4                  90
6             4                  25
7             4                  60
8             4                  50
9             4                  60
10            4                  50
11            4                 120
12            4                  50
13            4                  10
14            4                  10
15            4                  10
16            4                  20
17            4                  60
18            4                  25
19            4                  55
20            4                  40
21            4                  15
22            4                  15
23            4                 110
24            4                  35
25            4                  15
26            4                  35
27            4                  30
28            4                  80
29            4                  65
30            4                  10
31            4                  95
32            4                  90
33            4                  35
34            4                  25
35            4                  15
36            4                   5
37            4                  15
38            4                  25
39            4                 120
40            4                 130
41            4                  15
42            4                 110

In [46]:
df.groupby('compagnie')[['retard_arrivee_min', 'retard_depart_min']].mean()

C:\Users\PaulE\AppData\Local\Temp\ipykernel_13360\1450342581.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('compagnie')[['retard_arrivee_min', 'retard_depart_min']].mean()

                retard_arrivee_min  retard_depart_min
compagnie
Air France               49.285714          33.571429
Avion du Monde           45.909091          30.909091
AéroParis                30.555556          20.555556
Ciel Bleu                51.250000          42.500000
VolExpress               63.750000          50.000000

In [71]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port=5432,
    dbname="flights",
    user="postgres",
    password="foudres031"
)
cursor = conn.cursor()
cursor.execute("SELECT * FROM vols LIMIT 5;")
for row in cursor:
    print(row)
cursor.close()
conn.close()

(0, datetime.datetime(2023, 1, 5, 0, 0), 'VolExpress', 'VO504', 'ORY', 'GVA', '20:30', '04:30', 1137.76, 1533, 'Annulé', 90, 120, 4)
(1, datetime.datetime(2023, 1, 27, 0, 0), 'AéroParis', 'AÉ868', 'LIL', 'BOD', '15:00', '19:00', 913.62, 2980, "À l'heure", 10, 40, 4)
(2, datetime.datetime(2023, 1, 15, 0, 0), 'Ciel Bleu', 'CI953', 'ORY', 'NCE', '16:15', '00:15', 463.7, 3945, 'Retardé', 30, 30, 4)
(3, datetime.datetime(2023, 1, 5, 0, 0), 'Avion du Monde', 'AV380', 'LYS', 'GVA', '08:00', '10:00', 993.23, 7704, 'Annulé', 0, 0, 0)
(4, datetime.datetime(2023, 1, 11, 0, 0), 'AéroParis', 'AÉ500', 'ORY', 'BES', '22:30', '04:30', 639.4, 4400, 'Retardé', 30, 30, 4)

In [54]:
import pandas as pd
from sqlalchemy import create_engine

# Création de l'engine PostgreSQL
engine = create_engine('postgresql+psycopg2://postgres:foudres031@localhost:5432/flights')

# Lecture SQL
query = "SELECT * FROM vols LIMIT 5;"
df = pd.read_sql(query, engine)
df.head()

,index,date_vol,compagnie,num_vol,origine,destination,heure_depart,heure_arrivee,prix_euros,distance_km,statut,retard_depart_min,retard_arrivee_min,retard_reve
0,0,2023-01-05,VolExpress,VO504,ORY,GVA,20:30,04:30,1137.76,1533,Annulé,90,120,4
1,1,2023-01-27,AéroParis,AÉ868,LIL,BOD,15:00,19:00,913.62,2980,À l'heure,10,40,4
2,2,2023-01-15,Ciel Bleu,CI953,ORY,NCE,16:15,00:15,463.70,3945,Retardé,30,30,4
3,3,2023-01-05,Avion du Monde,AV380,LYS,GVA,08:00,10:00,993.23,7704,Annulé,0,0,0
4,4,2023-01-11,AéroParis,AÉ500,ORY,BES,22:30,04:30,639.40,4400,Retardé,30,30,4

In [52]:
df.to_sql('vols', con=engine, index=True, if_exists='replace')

43